<div >
    <h1 >Course Details</h1>

    <div class="table">
        <table class="table ">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Engineering Type</th>
                <th scope="col">Decription</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let courses of course.data ">
                <th scope="row">{{courses.id}}</th>
                <td>{{courses.attributes.EngineeringType}}</td>
                <td>{{courses.attributes.discription}}</td>
                
              </tr>
            </tbody>
          </table>
    </div>
</div>
