div{
    text-align: center;
}
.table{
    margin-top: 50px;
}

h1{
    font-size: 50px;
    background: -webkit-linear-gradient(#69fe1e, #000000);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}