<div >
    <h1 >Course Details</h1>

    <div class="table">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Engineering Type</th>
                <th scope="col">Decription</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let courses of ">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
